.audio span.airplay-button {
    display: block;
    position: absolute;
    z-index: 100;
    left: -8px;
    top: 6px;
    bottom: 6px;
    width: 5px;
    cursor: pointer;
    background-image: none;
}

.audio span.airplay-button.not-being-played {
    background-color: #216baa;
}

.audio span.airplay-button.being-played {
    background-color: #ffa714;
}
